// colors

$very-dark-blue: hsl(200, 15%, 8%); // Light Mode Text
$very-light-gray: hsl(0, 0%, 98%); // Light Mode Background
$dark-gray: hsl(0, 0%, 52%); // Light Mode Input
$white: hsl(0, 0%, 100%); // Dark Mode Text & Light Mode Elements
$very-dark-blue-background: hsl(207, 26%, 17%); // Dark Mode Background
$dark-blue: hsl(209, 23%, 22%); // Dark Mode Elements

// typography

$fs-home: 14px;
$fs-details: 16px;

$fw-regular: 300;
$fw-medium: 600;
$fw-bold: 800;
