@use "variables" as *;
@use "mixins" as *;

.filters {
  position: relative;
  margin-top: 40px;

  &--btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    padding: 20px 30px;
    background: $white;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  }

  &--list {
    position: absolute;
    top: 65px;
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 15px 0;
    background: $white;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);

    &--filter {
      text-align: start;
      background: transparent;
      padding: 5px 30px;
    }
  }

  @include media-md() {
    margin-top: 0;
  }
}

.active-filter-container {
  display: flex;
  margin-top: 30px;
  padding: 0 15px;

  .active-filter {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: $fw-medium;
    padding: 15px 30px;
    background: $white;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);

    .span {
      font-size: 1.2rem;
      margin-top: 2px;
      background: transparent;
    }
  }

  @include media-sm() {
    padding: 0 25px;
  }

  @include media-md() {
    justify-content: flex-end;
    padding: 0 35px;
  }

  @include media-lg() {
    padding: 0 140px;
  }
}

.dark {
  .filters {
    &--btn {
      background: $dark-blue;
    }
    &--list {
      background: $dark-blue;
    }
  }

  .active-filter {
    background: $dark-blue;
  }
}
